*{
  padding: 0;
   
}
.header {
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 1rem 2rem;
    background-color: #f0f0f0;
    margin: 0px;
    width: auto;
    
    
  }
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    
    
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: end;
    margin: 0;
    padding: 0;
    
}

.nav-links a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}
.nav-links a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(38, 2, 241);
}

  /* Responsiveness for smaller screens (adjust styles as needed) */
@media screen and (max-width: 768px) {
    .nav-links {
      /* Adjust font size or flex properties for better fit on smaller screens */
      font-size: 0.8rem;  /* Example: Reduce font size for smaller screens */
      flex-wrap: wrap;  /* Example: Wrap navigation links to multiple lines on small screens */
      
    }
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b6c4d655;
    
  }

  

  .header h1 {
    margin: 0;
  }

  .section {
    padding: 0px;
    
  }
  .section> p{
    font-size: 1.2em;
    padding: 0 7vw; 
    text-align: justify;
  }

  .section h2, .commitment h2 {
    margin-top: 0;
    background-color: #c1bfbf;
    padding-left: 10px;
    width: 85vw;
    border-radius: 0px 30px 30px 0px;
    margin-top: 25px;
  }

  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%; 
  }

  .service {
    margin: 20px;
    width: 28%;
    height: 250px;
    border-radius: 20px;
    background-size: cover;
    color: white;
    
    
    
  }

  .service h3 {
    margin-top: 0;
  }

  .commitment {
       
  }

  .commitment ul {
    list-style: none;
    padding-left: 20px;
    margin: 0;
  }

  .commitment li {
    margin-bottom: 10px;
  }
  .commitment li{
    font-size: 1.2em;
  }

  .commitment li:before {
    content: "\2713";
    margin-right: 10px;
    color: #333;
  }

  .footer {
    background-color: #f0f0f0;
    color: #131212;
    padding: 5px 15px; 
    text-align: center;
    clear: both;
  }
  .foot{
    
    display: flex;
    width: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

  .con-icn{
    font-size: 1.8em;
    color: #000000;
  }

  @media only screen and (max-width: 768px) {
    .service {
      width: 80vw;
      height: 200px;
      
      
    }
    .footer{
      padding: 0.2px 10px;
      padding-bottom: 19px;  
    }
    .section> p{
      font-size: 1.2em;
      padding: 0 20px; 
      text-align: justify;
    }
  }

  @media only screen and (max-width: 480px) {
    .service {
      width: 80vw;  
    }
    .nav-links{
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      justify-items: center;
      margin-top: 5%;
      
    }
    .nav-links a{
      padding: 0px 6px;
      font-size: 1.25em;
      
    }
    .header{
      flex-direction: column;
    }
    .h11{
        margin-right: 3.5px;
        margin-left: 3.5px;
        font-size: 25px;
    }

  }

  .paimg{
    height: 40vh;
    width:65vw;
    margin: auto;
    background-image: url('aimg1.jpeg');
    background-size: 100% 100%;
    border-radius: 20px;
  }
  
  @media (max-width:500px) {
    .paimg{
      height: 40vh;
      width:90vw;
      background-size: cover;
    
    }
  }

  .adark h3{
    text-align: center;
    
    
  }

  
  .as1{
    background-image: url('as1.jpeg');
  }
  .as2{
    background-image: url('as2.jpeg');
  }
  .as3{
    background-image: url('as3.jpeg');
  }
  .as4{
    background-image: url('as4.jpeg');
  }

  .adark{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.269);
    border-radius: 20px; 
  
  }
  .adark p{
    padding: 0 10px;
    position: relative;
  }
  .adark h3{
    padding: 10px;
    position: relative;
  }

  @media (min-width:600px) {
    .adark{
      background-color: rgba(0, 0, 0, 0.415);
    }
  }
